<div class="ColumnManager">
  @for (column of columns$ | async; track column.name) {
    <div class="ColumnManager-col">
      <app-column
        [column]="column"
        (onColumnUpdate)="updateColumn($event)"
        (onColumnRemove)="removeColumn(column)"
        (onCardCreate)="createCard($event)"
      >
        @if (cards$ | async; as cards) {
          @if (cards[column.id!]) {
            @for (card of cards[column.id!]; track card.id) {
              <div class="ColumnManager-card">
                <app-column-card
                  [card]="card"
                  (onCardUpdate)="updateCard($event)"
                />
              </div>
            }
          }
        }
      </app-column>
    </div>
  }

  <div class="ColumnManager-col">
    <app-column-add-form (onSave)="createColumn($event)" />
  </div>
</div>
