<div class="Col">
  <div class="Col-header">
    <div class="Col-name">
      <app-rename-column
        [columnName]="column.name"
        (onChange)="updateColumn.emit({ column, newName: $event })"
      />
    </div>
    <div class="Col-menu">
      <app-ellipsis-menu
        (removeColumn)="removeColumn.emit(column)"
        (removeCards)="removeCards.emit(column)"
      />
    </div>
  </div>

  <div class="Col-container">
    <ng-content></ng-content>
  </div>

  <div class="Col-footer">
    <app-column-add-form
      (onSave)="createCard.emit({ column, name: $event })"
      [mode]="'Transparent'"
      [inputPlaceholder]="'Ввести заголовок для этой карточки'"
      [addItemText]="'Добавить карточку'"
      [buttonText]="'Добавить карточку'"
    ></app-column-add-form>
  </div>
</div>
