/* You can add global styles to this file, and also import other style files */
@import "buttons";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.Helper {
  outline: solid 1px deeppink;

  & * {
    outline: solid 1px #eebe74;
  }

  & > * {
    outline: solid 1px darkgreen;
  }
}

.Textarea {
  @apply text-black border-2 p-2 rounded-lg w-full focus:outline-none transition-colors resize-none overflow-hidden;
}

.Input {
  @apply text-black border-2 p-2 rounded-lg w-full focus:outline-none transition-colors;
}

.small-icon-button {
  @include small-icon-button(40px);
}
