@mixin small-icon-button($size: 40px) {
  & {
    width: $size !important;
    height: $size !important;
    padding: 0px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;

    .mat-icon {
      font-size: $size/5 * 3 !important;
    }

    & > *[role="img"] {
      width: $size;
      height: $size;
      display: inline-flex !important;
      align-items: center;
      justify-content: center;
      svg {
        width: $size;
        height: $size;
      }
    }

    .mat-mdc-button-touch-target {
      width: $size !important;
      height: $size !important;
    }
  }
}
