<div
  class="Column"
  (appClickOutside)="openForm(false)"
  (appEscKey)="openForm(false)"
  [ngClass]="{
    'Column--transparent': mode === 'Transparent',
    'Column--green': mode === 'Green'
  }"
>
  <div [hidden]="showForm" (click)="openForm(true)">
    <div class="Column-text">
      <mat-icon>add</mat-icon> <span>{{ addItemText }}</span>
    </div>
  </div>

  <form
    class="Column-addColumnForm"
    [hidden]="!showForm"
    [formGroup]="columnForm"
    (ngSubmit)="save()"
  >
    <input
      #FieldName
      class="Input"
      type="text"
      [placeholder]="inputPlaceholder"
      formControlName="name"
    />

    <div class="Column-buttons">
      <div class="Column-add">
        <button mat-raised-button color="primary">{{ buttonText }}</button>
      </div>

      <button
        type="submit"
        mat-icon-button
        class="close-button"
        aria-label="Закрыть"
        (click)="openForm(false)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </form>
</div>
